/*********Diapo manu**********/
.diapomanu {
  margin: 0rem 4rem 2rem 2rem;
  display: flex;
  justify-content: center;
  margin: 2rem 10rem 2rem 10rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 12px #555;
  background-color: #555;
}

.single-item-manu {
  width: 100%;
  text-align: center;
}
.panel-manu {
  background: #ccc;
  width: 70wh;

  font-size: 72px;
  text-align: center;
}
.photor {
  width: 100%;
  height: 100%;
}
.slick-next::before {
  color: #fb6f54;
  font-size: 2rem;
  margin-left: 1rem;
}
.slick-prev {
  left: -52px;
}
.slick-dots li button:before {
  color: #fb6f54;
  font-size: 8px;
}
.slick-prev::before {
  color: #fb6f54;
  font-size: 2rem;
  margin-right: 2rem;
}
