/*****La font que j'ai utilisé pour le titre h1****/
@font-face {
  font-family: "Lucida Blackletter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Blackletter Regular"),
    url("Lucida Blackletter Regular.woff") format("woff");
}

/*****Le body et html*****/
html,
body {
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  /*background-color: #345;
  background-image: linear-gradient(to bottom, #0009, transparent);*/
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  background: linear-gradient(#e5dcb0, 88%, #884c4c);
}

/******Header*********/
header {
  background-color: white;
  height: 6.8rem;
}
h1 {
  margin: 0rem;
  font-family: "Lucida Blackletter Regular";
  font-weight: normal;
  padding: 2rem;
  color: #71184d;
}
/*****Logo***/
.logo {
  display: block;
  width: 10vh;
  height: 12vh;
  position: relative;
  top: -1rem;
  left: 5rem;
}
/******Le menu horizontal****/
nav {
  position: fixed;
  top: 0;
  right: 0;
}
/* Appearance */
.links {
  background-color: white;
  box-shadow: 0 5px 20px -21px #333;
  width: 70vw;
  font-size: 1.8em;
}
.links > a {
  font-weight: bold;
  color: #c56d49;
  font-family: serif;
  padding: 0.75em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

.active {
  background-color: #ffffff06;
  color: rgb(207, 46, 186);
}
.links > a:hover {
  background: #ffffff06;
  color: rgb(207, 46, 186);
}
.links > .line {
  background: rgb(207, 46, 186);
  height: 0.2rem;
  pointer-events: none;
}

/* The Magic */

.links {
  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  position: relative;
}
.links > .line {
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
  width: var(--width, calc(100% / var(--items)));
  --index: 0;
}
.links > a:hover ~ .line {
  opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line {
  --index: 1;
}
.links > a:nth-of-type(2):hover ~ .line {
  --index: 2;
}
.links > a:nth-of-type(3):hover ~ .line {
  --index: 3;
}
.links > a:nth-of-type(4):hover ~ .line {
  --index: 4;
}
.links > a:nth-of-type(5):hover ~ .line {
  --index: 5;
}
.links > a:nth-of-type(6):hover ~ .line {
  --index: 6;
}
.links > a:nth-of-type(7):hover ~ .line {
  --index: 7;
}
.links > a:nth-of-type(8):hover ~ .line {
  --index: 8;
}
.links > a:nth-of-type(9):hover ~ .line {
  --index: 9;
}
.links > a:nth-of-type(10):hover ~ .line {
  --index: 10;
}
.links > a:last-of-type:hover ~ .line {
  --index: var(--items);
}
.wrapper {
  width: 168px;
  height: 300px;
  display: block;
  position: relative;
  left: 80px;
  border: 1px solid #5c5c5c;
  border-radius: 4%;
  z-index: 0;
  box-shadow: 2px 2px 14px 2px #b3b3b3;
  background: white;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

.wrapper {
  width: 168px;
  height: 300px;
  display: block;
  position: relative;
  left: 80px;
  border: 1px solid #5c5c5c;
  border-radius: 4%;
  z-index: 0;
  box-shadow: 2px 2px 14px 2px #b3b3b3;
  background: white;
}

.wrapper:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 28px;
  height: 1px;
  border: 1px solid black;
  border-radius: 30%;
  background: black;
  top: 14px;
  left: 66px;
}

.wrapper:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 3px;
  height: 3px;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
  top: 14px;
  left: 48px;
}

.screen:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 2px;
  height: 2px;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
  top: -27px;
  left: 72px;
}

.screen {
  background: #b1b1b1;
  display: block;
  position: absolute;
  width: 152px;
  margin-left: 7px;
  margin-right: 8px;
  height: 230px;
  margin-top: 30px;
  margin-bottom: 40px;
  border: 1px solid black;
  overflow: hidden;
}

.circlebutton {
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  left: 70px;
  bottom: 6px;
  border: 2px solid #969696;
  border-radius: 50%;
  box-shadow: inset 0 0 0.1px 0.1px #5e5e5e;
}

.mainNav {
  position: relative;
  z-index: 5;
}

div.mainNav {
  display: none;
}

.input {
  display: none;
}

input:checked ~ div.mainNav {
  display: block;
}

.mainNav ul {
  position: absolute;
  top: -3.2em;
  left: 0;
  background: white;
  width: 100%;
  list-style: none;
  padding-left: 0em;
  font-size: 1em;
}

.mainNav ul li {
  background: #b0bbe5;
  outline: 1px solid black;
  height: 1.8em;
  position: relative;
  padding-top: 0.3em;
  padding-left: 0.2em;
}

ul.hiddensubmenu {
  width: 100%;
  list-style: none;
  font-size: 1em;
  position: absolute;
  top: 1.7em;
  left: 0;
}

ul.hiddensubmenu li {
  background: #8da6d8;
  padding-left: 0.8em;
  height: 1.7em;
}

ul.hiddensubmenu {
  display: none;
}

.manuNav input {
  display: none;
}
.menuNav input:checked ~ ul.hiddensubmenu {
  display: block;
}
/******************Menu humburger***************************/
nav {
  z-index: 255;
}
#menuToggle a {
  font-family: "Lucida Blackletter Regular";
  text-decoration: none;
  color: #71184d;
  z-index: 999999;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle {
  display: none;
  position: fixed;
  top: 0.5rem;
  left: 0.8rem;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #715656;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #715656;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #2323234f;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

/*******************Main*******/

main {
  vertical-align: center;
  justify-content: center;
  justify-content: center;
  align-items: center;
  /* justify-items: center; */
  display: flex;
  flex-direction: column;

  /* background: blanchedalmond; */
}
section {
  display: flex;
  flex-direction: column;
  width: 85%;
}
article {
  background-color: white;
  align-items: center;
  box-shadow: 0 10px 6px -6px #777;
}
h2 {
  font-size: 1.4rem;
  margin-top: 9rem;
  font-family: "Lucida Blackletter Regular";
}
article p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2;
  margin: 2rem;
}
figure {
  background-color: #e7e4ac;
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
figure h2 {
  margin-top: 0px;
  color: #ae6a25;
}
figure p {
  font-size: 1rem;
}

.roi {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
article p::first-letter {
  font-family: "Lucida Blackletter Regular";

  color: #ae6a25;
  font-size: 200%;
}
/**************Formulaire******************/
h3 {
  padding: 0.1rem 0.2rem;
  color: white;
  font-size: 1.2rem;
}
.Aderation {
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 10px;
  background-color: #bb945b;
  margin-top: 2.5rem;
  padding: 0.5rem;
  width: 40vw;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  color: #433a2b;
}
fieldset {
  display: flex;
  flex-direction: column;
}

form input,
label {
  margin: 0.4rem 0;
  width: 100%;
  font-size: 1rem;
}
form input {
  border: 2px solid grey;
  border-radius: 4px;
  padding: 0.5rem;
}
.myButton {
  -moz-box-shadow: inset 0px 39px 0px -24px #e67a73;
  -webkit-box-shadow: inset 0px 39px 0px -24px #e67a73;
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #e4685d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  text-align: center;
}
.myButton:hover {
  background-color: #eb675e;
}
.myButton:active {
  position: relative;
  top: 1px;
}
/*****Footer****/
footer {
  font-size: 1rem;
  background: #7b2d2d;
  color: white;
  margin-top: 5rem;
  padding: 1rem;
}
@media all and (max-width: 1024px) {
  .logo {
    display: none;
  }
  main {
    width: 90wh;
  }
  #menuToggle {
    display: block;
  }
  #navigation {
    display: none;
  }

  h1 {
    padding: 50px 70px;
  }
  .slick-prev::before {
    margin-right: 0em;
  }
  .Aderation {
    width: 80%;
  }
}
#active {
  color: #eaa5e1;
}
