<nav>
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <a <% if (page === 'index') { %>id="active" <% } %>href="/">
                <li>Accueil</li>
            </a>
            <a <% if (page === 'presentation') { %>id="active" <% } %> href="/Presentation">
                <li>Présentation</li>
            </a>
            <a <% if (page === 'hugues_capet') { %>id="active" <% } %>href="/hugues_capet">
                <li>Hugues Capet</li>
            </a>
            <a <% if (page === 'philippe_auguste') { %>id="active" <% } %> href="/philippe_auguste">
                <li>Philippe Auguste</li>
            </a>
            <a <% if (page === 'louis_ix') { %>id="active" <% } %> href="/louis_ix">
                <li>Louis IX</li>
            </a>

            <a <% if (page === 'philippe_le_bel') { %>id="active" <% } %> href="/philippe_le_bel">
                <li>Philippe Le Bel</li>
            </a>
            <a <% if (page === 'adheration') { %>id="active" <% } %> href="adheration">
                <li>S'adhérer</li>
            </a>

        </ul>
    </div>
    <div class="links" id="navigation" style="--items: 7;">


        <a <% if (page === 'index') { %>id="active" <% } %> class="element" href="/">Accueil</a>
        <a <% if (page === 'presentation') { %>id="active" <% } %> class="element" href="/presentation">Présentation</a>
        <a <% if (page === 'hugues_capet') { %>id="active" <% } %> class="element" href="/hugues_capet">Hugues Capet</a>
        <a <% if (page === 'philippe_auguste') { %>id="active" <% } %> class="element" href="/philippe_auguste">Philippe
            Auguste</a>
        <a <% if (page === 'louis_ix') { %>id="active" <% } %> class="element" href="/louis_ix">Louis IX</a>
        <a <% if (page === 'philippe_le_bel') { %>id="active" <% } %> class="element" href="/philippe_le_bel">Philippe
            Le Bel</a>
        <a <% if (page === 'adheration') { %>id="active" <% } %> class="element" href="/adheration">S'adhérer</a>

        <span class="line"></span>
    </div>

</nav>