<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>
    <% include partials/nav %>
    <main>

        <section class="Aderation" id="adheration">
            <h3>Adhération</h3>
            <form action="/bienvenueAdherant/" method="post">
                <label for="name">Nom</label>
                <input type="text" name="nom" id="nom" placeholder="Nom" required />
                <label for="prenom">Prénom</label>
                <input type="text" name="prenom" id="nom" placeholder="Prénom" required />
                <label for="start">Date de naissance</label>
                <input type="date" id="naissance" name="naissance" placeholder="Date de naissance" min="1920-01-01"
                    max="2000-12-31" required>
                <fieldset>
                    <legend>Adresse</legend>
                    <label for="adresse">Adresse</label>
                    <input type="text" name="adresse" placeholder="Adresse" id="adresse" required />
                    <label for="codep">Code postal</label>
                    <input type="number" id="postal" name="postal" min="10000" max="99999" placeholder="C.postal"
                        required>
                    <label for="ville">Ville</label>
                    <input type="text" name="ville" placeholder="Ville" id="ville" required />
                </fieldset>
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Adresse" id="adresse" required />
                <label for="tel">Tél/Protable</label>
                <input type="tel" name="tel" placeholder="Tél" required />
                <input class="myButton" type="submit" value="envoyer">
            </form>
        </section>

    </main>


    <% include partials/footer %>
    <% include partials/scripts %>






</body>

</html>