<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>
    <% include partials/nav %>
    <main>

        <section>
            <article>
                <p>
                    Bienvenue <%=nom%> <%=penom/> parmi nos adhérants.
                </p>
            </article>
        </section>

    </main>


    <% include partials/footer %>
                    <% include partials/scripts %>






</body>

</html>