<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
  <link rel="stylesheet" type="text/css" href="slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
  <link rel="stylesheet" type="text/css" href="css/diapo.css">

</head>

<body>
  <% include partials/header %>
  <% include partials/nav %>
  <main>

    <section class="diapomanu">
      <div class="single-item-manu">
        <div class="panel-manu"><img class="photor" src="images/img2.jpg" alt="image1"></div>
        <div class="panel-manu"><img class="photor" src="images/img1.jpg" alt="image2"></div>
        <div class="panel-manu"><img class="photor" src="images/img4.jpg" alt="image2"></div>
        <div class="panel-manu"><img class="photor" src="images/img1.jpg" alt="image2"></div>
      </div>
    </section>

  </main>


  <% include partials/footer %>
  <% include partials/scripts %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.js"></script>
  <script type="text/javascript" src="javascript/slick.min.js"></script>
  <script type="text/javascript" src="javascript/slideauto.js"></script>
  <script type="text/javascript" src="javascript/menu-manu.js"></script>






</body>

</html>