<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>
    <% include partials/nav %>
    <main>

        <section>
            <section class="roi">
                <figure>
                    <p><img src="images/roi2.jpg" alt="Philippe Auguste">
                        <figcaption>
                            <h2>Philippe Auguste</h2>
                            <p>Né le 21 août 1165 à Paris</p>
                            <p>Mort le 14 juillet 1223 à Mantes</p>
                        </figcaption>
                </figure>
            </section>


            <article>
                <p> Philippe II dit « Auguste »1, né le 21 août 1165 à Paris et mort à Mantes le 14 juillet 1223, est le
                    septième roi de
                    France (1180-1223) de la dynastie des Capétiens. Il est le fils héritier de Louis VII et d'Adèle de
                    Champagne.<br>
                    Le surnom d'« Auguste » lui fut donné par le moine Rigord2 après que Philippe II eut ajouté au
                    domaine
                    royal en juillet
                    1185 (traité de Boves) les seigneuries d’Artois, du Valois, d’Amiens et une bonne partie du
                    Vermandois3
                    et également
                    parce qu'il était né au mois d'août. Référence directe aux empereurs romains, ce terme signifie
                    qu'il a
                    accru
                    considérablement le domaine.

                    Chapelain et biographe de Philippe II, Guillaume Le Breton le nomme « Philippe le Magnanime »4 dans
                    sa
                    chronique La
                    Philippide rédigée entre 1214 et 1224. Cette chronique est une continuation de celle de Rigord que
                    Philippe II lui avait
                    demandé d'expurger, la jugeant moins laudatrice qu'il le souhaitait.<br>
                    Philippe Auguste reste l'un des monarques les plus admirés et étudiés de la France médiévale, en
                    raison
                    non seulement de
                    la longueur de son règne, mais aussi de ses importantes victoires militaires et des progrès
                    essentiels
                    accomplis pour
                    affermir le pouvoir royal et mettre fin à l'époque féodale.

                    Philippe Auguste est le premier roi ayant fait porter sur ses actes, sporadiquement à partir de
                    1190,
                    officiellement à
                    partir de 12045, Rex Franciæ, « roi de France », au lieu de Rex Francorum, « roi des Francs »a. Il
                    faut
                    cependant
                    relever que les traités et conventions de paix signés entre les vassaux ou alliés et le royaume de
                    France mentionnent
                    sans exception Philippus rex Francorum (« Philippe, roi des Francs »), à la différence, par exemple,
                    de
                    Richardus rex
                    Angliæ (« Richard, roi d'Angleterre »), mais comme Henri, roi des Romains.
                </p>
            </article>
        </section>

    </main>


    <% include partials/footer %>
    <% include partials/scripts %>






</body>

</html>